version: '3.6'

services:
  web:
    container_name: subcontest-web
    profiles:
      - main
      - postseason
    image: node:22-alpine
    volumes:
      - .:/app
      - ../ssl:/ssl
    working_dir: /app
    ports:
      - $PORT:$PORT
    command: node index.js

  mongo:
    container_name: subcontest-mongo
    profiles:
      - main
      - postseason
    image: mongo:8.0.4
    volumes:
      - subcontest-data:/data/db

  cron:
    container_name: subcontest-cron
    profiles:
      - main
    image: node:22-alpine
    volumes:
      - .:/app
    command: sh -c "crontab /app/etc/crontab && crond -f"
    stop_grace_period: 2s

volumes:
  subcontest-data:
    name: subcontest-data

networks:
  default:
    name: coinflipper
    external: true
