extends layout.pug

block title
	+title('Rules')

block content
	h1 SubContest Rules for 2024
	p
		| The SubContest is a regular season football picks pool for any number of entrants. It's modeled after the
		|
		|
		a(href='https://www.superbook.com/supercontest/' target='_blank') SuperContest
		|
		|
		| and has only minor differences.
	ol
		li Plain English
			ol(type='a')
				li The entry fee is $50.
				li Spreads will be posted on Wednesday for every game that week.
				li You make five against-the-spread (ATS) picks every week of the NFL season.
				li You score one point for every ATS winner, one half-point for every ATS push, and zero points for every ATS loser.
				li You can pick any side of any game you like but you cannot pick both sides of the same game.
				li You can pick a game right up until its scheduled kickoff time.
		li Overview
			ol(type='a')
				li The entry fee for every entrant is $50. It must be paid before an entrant will be allowed to begin making picks.
				//- li Pay-out spots will be announced no later than October 1st of the current season (and will be placed on this page).
				li The pay-out for first place will be worth at least twice as much as the pay-out for second place.
				li Pay-out spots will be allocated based on points (in accordance with the scoring rules, defined later) at the conclusion of the NFL regular season.
				li Pay-out spots for the 2024 season:
					ul
						li $600 for first place
						li $300 for second place
						li $125 for third place
						li $75 for fourth place
		li Format
			ol(type='a')
				li For each of the NFL's eighteen regular season weeks, spreads for that week's games will be posted on Wednesday.
				li Once posted, spreads will not change except in the event of an obvious error (subject to the judgment of the pool administrator).
				li Each entrant will make five against-the-spread (ATS) picks during each week.
				li No entrant may make more than five picks during any NFL week.
		li Picks
			ol(type='a')
				li An entrant may pick any side of any game each week.
				li An entrant may only pick one side of any given game (i.e. you cannot pick both teams in an effort to guarantee a win and a loss).
				li Neither side of a game may be picked after the scheduled start time of that game has passed.
		li Scoring
			ol(type='a')
				li Each ATS pick that ends up as a winner will be worth 1 point to the entrant.
				li Each ATS pick that ends up as a push (exactly matching the spread) will be worth &frac12; point to the entrant.
				li Each ATS pick that ends up as a loser will be worth 0 points to the entrant.
				li The final standings will be based on most points scored.
				li In the event that two or more entrants are tied on points scored, any money owed for the relevant pay-out spots will be split equally amongst the entrants (e.g. if there are five pay-out spots and there is a three-way tie for third place, the sum of money allotted for third, fourth, and fifth place will be split equally among all three entrants).
		li Miscellany
			ol(type='a')
				li All picks must be made by the entrant on the website with potential exceptions only made in the event of website downtime.
				li In the event of a postponement, the pool administrator will make a judgment about how the game will be handled, including which week it will count for.
				li Any pick for a game that gets forfeited will be vacated and count neither as a win, nor a push, nor a loss (i.e. as if the pick had never been made).
				li In the event that spreads aren't posted in a timely manner on Wednesday, the entrant may refer to the #[a(href='https://www.superbook.com/supercontest/' target='_blank') official SuperContest weekly card]. If a game appears there, the entrant can trust that its spread will be preserved in the SubContest. If a game doesn't appear there, the pool administrator will make a judgment for what that game's spread should be, if applicable.
				li In the event that these rules underspecify a situation that must be ruled on, the pool administrator will retain the authority to make the ruling.
