extends layout.pug

block title
	+title('Standings')

block content
	div.container.pb-3
		h1 Under Maintenance
		p The standings page is being updated for 2020 and will be available soon after Week 1 if not before.
