table#standings th {
	font-weight: bold;
}

table#standings th,
table#standings td {
	font-size: 130%;
	padding: 0.2em 1em 0.2em 0;
	text-align: left;
}

table#standings th.score,
table#standings td.score {
	text-align: center;
}

table#standings th.week {
	padding: 0;
	text-align: center;
}

table#standings td.pick {
	font-size: 80%;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 45px;
}

table#standings td.pick.open {
	font-weight: bold;
}

table#standings td.pick.winner {
	color: #417A25;
}

table#standings td.pick.loser {
	color: #ab0000;
}

table#standings td.pick.push {
	color: #aaaaaa;
}
