div#container {
	margin: 0 auto;
	max-width: 960px;
}

div#header {
	margin: 1em 0;
}

div#header h1 a {
	color: black;
	text-decoration: none;
}

ul#navigation {
	margin-top: 0.3em;
}

ul#navigation li {
	display: inline;
	margin-right: 0.3em;
}

ul#navigation li a.selected {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div#week-navigation {
	font-size: 70%;
}

div#week-navigation a.week,
div#week-navigation span.week {
	vertical-align: middle;
}

div#week-navigation a.week {
	margin: 0 0.5em;
}

div#week-navigation a.week-1 {
	margin-left: 0;
}

div#week-navigation a.week-17 {
	margin-right: 0;
}

div#week-navigation span.current.week {
	font-size: 200%;
	font-style: italic;
	font-weight: bold;
}
